.container
  h1 WELCOME TO THE BUG TRACKING APP
  - if user_signed_in?
    - if current_user.admin?
      br
      p You are admin,you can invite users
      br
      = link_to 'send invitation', new_user_invitation_path, class: 'btn btn-primary'
    br
    br
    = link_to 'All projects', projects_path, class: 'btn btn-primary'
  - else
    = link_to 'sign_in', new_user_session_path, class: 'btn btn-primary'
