= form_with model: @project, local: true do |form|
	- if @project.errors.any?
		#error_explanation
			h2 one error prohibited this article from being saved:
			-@project.errors.full_messages.each do |msg|
				= msg
	br
	= form.label :project_name
	= form.text_field :project_name
	br
	= form.submit