h1 Bug tracking tool
div class="d-flex justify-content-between"
  = link_to 'New project', new_project_path, class: 'btn btn-primary'
  = link_to 'sign_out', destroy_user_session_path, method: :delete, class: "btn btn-primary"

br
table class='table table-striped'
  tr
    th Project
    th colspan="3" action
  -@projects.each do |project|
    tr
      td= project.project_name
      td= link_to 'Show', project_path(project), class: 'btn btn-info'
      td= link_to 'Edit', edit_project_path(project), class: 'btn btn-warning'
      td= link_to 'Delete', project_path(project), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'