table class='table table-striped'
  tr
    th project name
    th bugs
    th assigned to
    th colspan="3" action
  -@project.bugs.each do |bug|
    tr
      td= @project.project_name
      td= bug.buglist
      td= bug.assigned_to
      td= link_to 'Edit bug', edit_project_bug_path(@project,bug), class: 'btn btn-warning'
      td= link_to 'Delete bug', project_bug_path(bug), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'


br
= link_to 'Add bugs',new_project_bug_path(@project), class:'btn btn-primary'
br
br
= link_to 'Back', projects_path, class:'btn btn-primary'