= form_with model: [@project,@project.bugs.build], local: true do |form|
	- if @project.errors.any?
		#error_explanation
			h2 one error prohibited this article from being saved:
			-@project.bugs.errors.full_messages.each do |msg|
				= msg
        br
	= form.label :bugs
	= form.text_field :buglist
	br
	= form.label :assigned_to
	= form.select :assigned_to, options_for_select(@users_array)
	br
	= form.submit
